$text-color-dark: #484847;
$line-color: #d1d1d1;

#learning-progress {
    position: relative;
    min-height: 100vh;
    color: $text-color-dark;
    overflow: hidden;
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 400px);
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 65%;
        bottom: 3rem;
        background-color: #fafafa;
        transform: skewX(-40deg) scaleX(1.5);
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        height: 80%;
        width: 3px;
        background-color: $line-color;
        transform: translateX(-50%);
        border-radius: 10px;
    }

    .title {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
            width: 70%;
            font-size: 2.1rem;
            font-weight: 400;
        }
    }

    .infantil-figure {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        margin-left: 5rem;
        margin-right: 10rem;
    }
    .infantil-texts {
        grid-column: 1;
        grid-row: 2;
    }

    .fundamental-1-figure {
        grid-column: 2;
        grid-row: 2;
        position: relative;
        margin-right: 5rem;
        margin-left: 10rem;
    }
    .fundamental-1-texts {
        grid-column: 2;
        grid-row: 3;
    }

    .fundamental-2-figure {
        grid-column: 1;
        grid-row: 3;
        position: relative;
        margin-left: 5rem;
        margin-right: 10rem;
    }
    .fundamental-2-texts {
        grid-column: 1;
        grid-row: 4;
    }

    .medio-figure {
        grid-column: 2;
        grid-row: 4;
        position: relative;
        margin-right: 5rem;
        margin-left: 10rem;
    }
    .medio-texts {
        grid-column: 2;
        grid-row: 5;
    }

    .img-learning-progress {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .button-learning-progress {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        padding: 0.8rem 1.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        border: none;
        border-radius: 15px;
        letter-spacing: 1px;
        background-color: #fbdb6e;
        cursor: pointer;
        box-shadow: 3px 3px 10px $text-color-dark;
        transition: 0.2s ease-in-out;
        &:hover {
            box-shadow: 1px 1px 5px $text-color-dark;
        }
    }

    .div-texts {
        h3 {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: 400;
        }
        p {
            width: 70%;
            font-size: 1rem;
        }
    }

    .div-texts-right {
        margin-left: 10rem;
    }
    .div-texts-left {
        margin-left: 5rem;
    }

    .div-line-and-ball {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        // Left
        .line-left {
            position: absolute;
            width: 25%;
            height: 3px;
            top: 10%;
            left: 25%;
            background-color: #d1d1d1;
            z-index: -1;
        }
        .ball-left {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 9.7%;
            left: 49.5%;
            background-color: #d1d1d1;
            border-radius: 50%;
            z-index: -1;
        }
        .line-left-2 {
            position: absolute;
            width: 25%;
            height: 3px;
            top: 50%;
            left: 25%;
            background-color: #d1d1d1;
            z-index: -1;
        }
        .ball-left-2 {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 49.7%;
            left: 49.5%;
            background-color: #d1d1d1;
            border-radius: 50%;
            z-index: -1;
        }
        // Right
        .line-right {
            position: absolute;
            width: 25%;
            height: 3px;
            top: 30%;
            left: 50%;
            background-color: #d1d1d1;
            z-index: -1;
        }
        .ball-right {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 29.7%;
            left: 49.5%;
            background-color: #d1d1d1;
            border-radius: 50%;
            z-index: -1;
        }
        .line-right-2 {
            position: absolute;
            width: 25%;
            height: 3px;
            top: 70%;
            left: 50%;
            background-color: #d1d1d1;
            z-index: -1;
        }
        .ball-right-2 {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 69.7%;
            left: 49.5%;
            background-color: #d1d1d1;
            border-radius: 50%;
            z-index: -1;
        }

        .slatted-circle-1 {
            position: absolute;
            top: 10%;
            left: -390px;
            z-index: -1;
            width: 500px;
        }
        .slatted-circle-2 {
            position: absolute;
            top: 60%;
            left: -200px;
            width: 400px;
        }

        .gray-balls-1 {
            position: absolute;
            bottom: 6rem;
            left: 35%;
            width: 200px;
            transform: rotateZ(90deg);
        }
        .gray-balls-2 {
            position: absolute;
            top: 10%;
            right: 0;
            width: 200px;
            opacity: .9;
        }

        .line-blue,
        .line-pink {
            display: none;
        }
    }

    .figure-left{
        width: 80%;
    }
    .figure-right{
        width: 80%;
        margin-left: 5rem;
    }
}

@media screen and (max-width: 1200px) {
    #learning-progress {
        grid-template-columns: 1fr;
        grid-template-rows: 350px 400px 350px 400px 350px 400px 350px 400px 350px 400px;
        &::after {
            z-index: -1;
            top: 7.5%;
        }

        .title {
            grid-column: 1;
            grid-row: 1;
            h1{
                width: 80%;
                text-align: center;
            }
        }

        .infantil-figure {
            grid-column: 1;
            grid-row: 2;
        }
        .infantil-texts {
            grid-column: 1;
            grid-row: 3;
        }

        .fundamental-1-figure {
            grid-column: 1;
            grid-row: 4;
        }
        .fundamental-1-texts {
            grid-column: 1;
            grid-row: 5;
        }

        .fundamental-2-figure {
            grid-column: 1;
            grid-row: 6;
        }
        .fundamental-2-texts {
            grid-column: 1;
            grid-row: 7;
        }

        .medio-figure {
            grid-column: 1;
            grid-row: 8;
        }
        .medio-texts {
            grid-column: 1;
            grid-row: 9;
        }

        .div-texts {
            background-color: #fff;
        }

        .div-texts-right {
            width: 70%;
            height: 50%;
            margin: 0;
            justify-self: center;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
            h3 {
                margin-left: 1rem;
                margin-top: 1rem;
            }
            p {
                margin-left: 1rem;
                width: 95%;
            }
        }
        .div-texts-left {
            width: 70%;
            height: 50%;
            margin: 0;
            justify-self: center;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
            h3 {
                margin-left: 1rem;
                margin-top: 1rem;
            }
            p {
                margin-left: 1rem;
                width: 95%;
            }
        }

        .figure-left,
        .figure-right {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            img {
                width: 70%;
                box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.404);
                border-radius: 0;
            }
            button {
                right: 17%;
            }

            &::after {
                z-index: 10;
                content: "";
                position: absolute;
                width: 23px;
                height: 23px;
                top: -5rem;
                border-radius: 50%;
                background-color: #d1d1d1;
            }
        }
        .figure-last {
            &::before {
                z-index: 10;
                content: "";
                position: absolute;
                width: 23px;
                height: 23px;
                bottom: -73%;
                border-radius: 50%;
                background-color: #d1d1d1;
            }
        }

        .div-line-and-ball {
            .ball-left,
            .ball-left-2,
            .ball-right,
            .ball-right-2 {
                display: none;
            }
            .gray-balls-1 {
                left: -2rem;
                top: 65%;
            }
            .slatted-circle-1 {
                top: 18%;
            }
            .slatted-circle-2 {
                left: 82%;
                top: 35%;
            }

            .line-blue {
                display: block;
                position: absolute;
                left: -70%;
            }
            .line-pink{
                display: block;
                position: absolute;
                left: -70%;
                top: 60%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #learning-progress {
        .figure-left,
        .figure-right {
            position: relative;
            img {
                width: 95%;
            }
        }
        .div-texts {
            width: 95%;
            height: 60%;
            p {
                font-size: 0.83rem;
            }
        }

        .div-line-and-ball {
            .ball-left,
            .ball-left-2,
            .ball-right,
            .ball-right-2 {
                transform: scale(1.6);
                left: 48.1%;
            }
        }
    }
}

@media screen and (max-width: 290px) {
    #learning-progress {
        .div-texts {
            height: 75%;
            p {
                font-size: 0.83rem;
            }
        }

    }
}