$text-color-dark: #484847;

#methodology {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $text-color-dark;

    .title {
        font-weight: 400;
        font-size: 2rem;
    }
    .our-skills {
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
        .card-skill {
            width: 33%;
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                width: 30%;
            }
            h3 {
                font-weight: 400;
                font-size: 1.5rem;
                margin: 0.7rem 0;
            }
            p {
                text-align: center;
                width: 75%;
                opacity: 0.9;
            }
        }
    }
    .card-pride {
        display: flex;
        min-height: 15rem;
        margin-top: 4rem;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 33%;
            h1 {
                font-size: 3vw;
                margin-top: 1rem;
                font-weight: 400;
            }
            img {
                width: 30%;
            }
        }
        .school-description {
            width: 67%;
            h3 {
                font-size: 1.5rem;
                font-weight: 400;
            }
            p {
                margin: 1rem 0;
                width: 90%;
                opacity: 0.9;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .our-skills {
            flex-direction: column;
            margin-top: 0;
            .card-skill {
                width: 100%;
                margin-top: 4rem;
            }
        }
        .card-pride {
            flex-direction: column;
            align-items: center;
            text-align: center;
            .icon{
                h1{
                    display: none;
                }
                img{
                    width: 70%;
                }
            }
            .school-description {
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
        }
    }
}
