@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

@import '_banner';
@import '_methodology';
@import '_learning-progress';
@import '_galery';
@import 'team';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

